/*
#030637 sötétkék
#3C0753
#720455
#910A67
*/
.kommentszekcio{
    padding-left: 300px;
    width: 90%;
}
.KB {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    background-color:#030637;
    color: white;
    background-image: linear-gradient(black, #030637 );
}
.KB_email{
    margin-left: 89px;

}

.csillag {
    color: red;
}
#komment {
    width: 500px;
    height: 100px;
}
.KB_ujkomment {
    color: hotpink; /* sztem ez így maradhat*/
    width: 50%;
}
.KB_kotelezo {
    color: red;
}

.KB_kommentek > * {
    padding: 20px;
    border: 2px solid white;
}
.Piros_Arany {
    padding-left: 20px;
}

/* Viki */
.fooldalBody {
    background: linear-gradient(to left, black, #030637);
}

.fooldalBody h1 {
    text-shadow: 0 0 21px white;
}

.fooldalUl {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.fooldLi {
    padding: 10px;
    float: left;
}
.fooldA{
    color: white; /* írd át valami másra, csak tesztre kellett*/
    
}

.fooldLi > * {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.fooldA:hover, .selected {
    background-color: #111;
}
.fooldA_sel { /*Azokra az oldalakra tag amin éppen vagy*/
    color: white; /* írd át valami másra, csak tesztre kellett*/
    background-color: #111;
}


@media screen and (max-width:700px) {
    header,nav{
        width: 600px;
    }
    .KB,header,nav{
        margin: 0;
        padding-left: 0px;
        
        font-size: 20pt;
    }
    .kommentszekcio{
        margin: 0;
        padding-left: 0px;
        
    }
    .KB_kommentek{
        width: 400px;
    }
    .fooldalUl{
        flex-direction: column;
    }
}

































