/*
#030637 sötétkék
#3C0753
#720455
#910A67
*/
.KB {
    background-color:#030637;
    color: white;
    background-image: linear-gradient(black, #030637 );
}
.KB_email{
    margin-left: 89px;
}

.csillag {
    color: red;
}
#komment {
    width: 500px;
    height: 100px;
}
.KB_ujkomment {
    color: hotpink; /* sztem ez így maradhat*/
    width: 50%;
}
.KB_kotelezo {
    color: red;
}

.KB_kommentek > * {
    padding: 20px;
    border: 2px solid white;
}
.Piros_Arany {
    padding-left: 20px;
}

/* Viki */
.fooldalBody {
    background: linear-gradient(to left, black, #030637);
}

.fooldalBody h1 {
    text-shadow: 0 0 21px white;
}

.fooldalUl {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.fooldLi {
    padding: 10px;
    float: left;
}
.fooldA{
    color: white; /* írd át valami másra, csak tesztre kellett*/

}

.fooldLi > * {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.fooldA:hover {
    background-color: #111;
}




































